<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Flask ML Model</title>
</head>

<body>

    <div class="container mt-5">
        <h1> Iris Flower Classification</h1><br>
        <div class="row">
            <div class="col-md-6">
                <form method="POST" , action="{{url_for('home')}}">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Petal Length(cm)</label>
                        <input type="number" required name='a' class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Petal Width(cm)</label>
                        <input type="number" required name='b' class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Sepal Length(cm)</label>
                        <input type="number" required name='c' class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Sepal Width(cm)</label>
                        <input type="number" required name='d' class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp">
                    </div>

                    <button type="submit" class="btn btn-primary">Predict</button>
                </form>
            </div>

            <div class="col-md-6 mt=3">
                {%if data == 0%}
                <img src="../static/setosa.JPG" alt="">
                <h3>It's Iris-setosa.</h3>

                {%elif data == 1%}
                <img src="../static/versicolor.JPG" alt="">
                <h3>It's Iris-versicolor.</h3>

                {%elif data == 2%}
                <img src="../static/virginica.JPG" alt="">
                <h3>It's Iris-virginica.</h3>

                {%else%}

                {%endif%}
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>